{% extends 'base.html.twig' %}

{% block title %} S'enregistrer!{% endblock %}

{% block body %}












    <div class="example-wrapper">
        <h1>Hello <i class="fas fa-check"></i>{{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'C:/laragon/www/formationorfeo/php/symfony/first/first/src/Controller/DesController.php'|file_link(0) }}">src/Controller/DesController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'C:/laragon/www/formationorfeo/php/symfony/first/first/templates/des/index.html.twig'|file_link(0) }}">templates/des/index.html.twig</a></code></li>
        </ul>
    </div>
<hr>



{% endblock %}
