{% extends 'base.html.twig' %}

{% block title %}Hello HookController!{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('js/hook') }}
{% endblock %}

{% block body %}



    {{ parent() }}
    <div id="hook"></div>
{% endblock %}
